<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Author Meta -->
    <meta name="author" content="Crowix">
    <!-- Meta Description -->
    <meta name="description" content="Search Engine">
    <!-- Meta Keyword -->
    <meta name="keywords" content="Search Engine">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Search Engine</title>

    <!--CSS -->
    <link rel="stylesheet" href="../static/css/linearicons.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/nice-select.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <style type="text/css">
        html{height:100%;}
        body{min-height:100%;margin:0;padding:0;position:relative;}
    </style>
</head>
<body>

{{template "header.html" .}}
<script type="text/javascript">
    var textId = 0
    function insert1() {
        var fieldNum = document.getElementById("fieldNum")
        var li13 = document.getElementById("li13");
        //创建li
        var li15 = document.createElement("li");
        //创建文本field
        var text_f =document.createElement('input');
        text_f.setAttribute('type', 'text');//输入框的类型
        text_f.setAttribute('name', "field"+textId);//输入框的名字
        text_f.setAttribute('id', "field"+textId);//输入框的id
        //创建文本content
        var text_c =document.createElement('input');
        text_c.setAttribute('type', 'text');//输入框的类型
        text_c.setAttribute('name', "content"+textId);//输入框的名字
        text_c.setAttribute('id', "content"+textId);//输入框的id
        textId = textId + 1
        fieldNum.value = textId
        //把文本添加到li下面 appendChild
        li15.appendChild(text_f);
        li15.appendChild(text_c);
        //获取到ul
        var ul21 = document.getElementById("ulid21");

        //insertBefore(newNode,oldNode)
        ul21.insertBefore(li15,li13);
    }
</script>

<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="modal-content">
                <br>
                <br>
                <br>
                <form class="form-horizontal" autocomplete="off" action="/add" method="post">
                    <div class="modal-body">
                            <label for="email" class="col-sm-2 control-label">索引</label>
                            <div>
                                <input type="text" id="fieldNum" name="fieldNum"style="visibility: hidden">
                            </div>
                            <div class="col-sm-6">
                                <!-- Single button -->
                                <select idclass="form-control" name="index">
                                    {{range .indicies}}
                                        <option>{{.}}</option>
                                    {{end}}
                                </select>
                            </div>
                    </div>
                    <ul id="ulid21" >
                        <li id="li11" >问卷字段设置:</li>
                    </ul>
                    <tr>
                        <input type="button" value="增加字段选项" onclick="insert1()" />
                    </tr>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">保存</button>
                        <button class="btn btn-info" data-dismiss="modal">关闭</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>




{{template "footer.html" .}}



<script src="../static/js/vendor/jquery-2.2.4.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/vendor/bootstrap.min.js"></script>
<script src="../static/js/easing.min.js"></script>
<script src="../static/js/hoverIntent.js"></script>
<script src="../static/js/superfish.min.js"></script>
<script src="../static/js/jquery.ajaxchimp.min.js"></script>
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<script src="../static/js/jquery.tabs.min.js"></script>
<script src="../static/js/jquery.nice-select.min.js"></script>
<script src="../static/js/isotope.pkgd.min.js"></script>
<script src="../static/js/waypoints.min.js"></script>
<script src="../static/js/jquery.counterup.min.js"></script>
<script src="../static/js/simple-skillbar.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/main.js"></script>


{{template "login.html" .}}

</body>
</html>