	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Author Meta -->
		<meta name="author" content="Crowix">
		<!-- Meta Description -->
		<meta name="description" content="Search Engine">
		<!-- Meta Keyword -->
		<meta name="keywords" content="Search Engine">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Search Engine</title>

			<!--CSS -->
			<link rel="stylesheet" href="../static/css/linearicons.css">
			<link rel="stylesheet" href="../static/css/font-awesome.min.css">
			<link rel="stylesheet" href="../static/css/bootstrap.css">
			<link rel="stylesheet" href="../static/css/magnific-popup.css">
			<link rel="stylesheet" href="../static/css/nice-select.css">
			<link rel="stylesheet" href="../static/css/animate.min.css">
			<link rel="stylesheet" href="../static/css/owl.carousel.css">
			<link rel="stylesheet" href="../static/css/main.css">

		<script type="text/javascript">
			function loginJudger()
			{
				var islogin = document.getElementById("islogin");
				var content = document.getElementById("content").value;
				if(islogin.innerText === "退出") {
					if(content === ""){
					}else{
						window.location.href = "/search?content=" + content;
					}
				}else{
					document.getElementById("loginContent").value = content;
					islogin.click();
				}
			}
		</script>

		<style type="text/css">
			html{height:100%;}
			body{min-height:100%;margin:0;padding:0;position:relative;}
			.bottom-padding{position:absolute;width:100%;bottom:224px;}
			.footer{position:absolute;bottom:0;width:100%;}
		</style>
		</head>
		<body>

			{{template "header.html" .}}


			<section class="banner-area ">
				<div class="container">
					<div class="row fullscreen align-items-center">
						<div class="col-md-8 col-md-offset-2">
								<div class="input-group">
									<input id="content" class="form-control" name="content" placeholder="请输入搜索内容" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入搜索内容'" required="" type="text">
									<div class="input-group-btn">
										<button  onclick="loginJudger()" class="btn btn-primary btn-fatter" style="font-size: 1.3rem;">
											<span class="lnr lnr-arrow-right"></span>
										</button>
									</div>
								</div>
						</div>
					</div>
				</div>
			</section>


			<!-- Start fact Area -->
			<section class="facts-area section-gap bottom-padding " id="facts-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 single-fact">
							<h1 class="counter">2536</h1>
							<p>设备信息</p>
						</div>
						<div class="col-lg-3 col-md-6 single-fact">
							<h1 class="counter">6784</h1>
							<p>报警信息</p>
						</div>
						<div class="col-lg-3 col-md-6 single-fact">
							<h1 class="counter">2239</h1>
							<p>维修记录</p>
						</div>
						<div class="col-lg-3 col-md-6 single-fact">
							<h1 class="counter">435</h1>
							<p>其他信息</p>
						</div>
					</div>
				</div>
			</section>
			<!-- end fact Area -->

		  {{template "footer.html" .}}



			<script src="../static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="../static/js/popper.min.js"></script>
			<script src="../static/js/vendor/bootstrap.min.js"></script>
  			<script src="../static/js/easing.min.js"></script>
			<script src="../static/js/hoverIntent.js"></script>
			<script src="../static/js/superfish.min.js"></script>
			<script src="../static/js/jquery.ajaxchimp.min.js"></script>
			<script src="../static/js/jquery.magnific-popup.min.js"></script>
    		<script src="../static/js/jquery.tabs.min.js"></script>
			<script src="../static/js/jquery.nice-select.min.js"></script>
            <script src="../static/js/isotope.pkgd.min.js"></script>
			<script src="../static/js/waypoints.min.js"></script>
			<script src="../static/js/jquery.counterup.min.js"></script>
			<script src="../static/js/simple-skillbar.js"></script>
			<script src="../static/js/owl.carousel.min.js"></script>
			<script src="../static/js/main.js"></script>


		  {{template "login.html" .}}

		</body>
	</html>