	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Author Meta -->
		<meta name="author" content="Crowix">
		<!-- Meta Description -->
		<meta name="description" content="Search Engine">
		<!-- Meta Keyword -->
		<meta name="keywords" content="Search Engine">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Search Engine</title>

			<!--CSS -->
			<link rel="stylesheet" href="../static/css/linearicons.css">
			<link rel="stylesheet" href="../static/css/font-awesome.min.css">
			<link rel="stylesheet" href="../static/css/bootstrap.css">
			<link rel="stylesheet" href="../static/css/magnific-popup.css">
			<link rel="stylesheet" href="../static/css/nice-select.css">
			<link rel="stylesheet" href="../static/css/animate.min.css">
			<link rel="stylesheet" href="../static/css/owl.carousel.css">
			<link rel="stylesheet" href="../static/css/main.css">
		</head>
		<body>	
		  <header id="header">
		    <div class="container main-menu">
		    	<div class="row align-items-center justify-content-between d-flex">
			      <div id="logo">
			        <a href="/"><img src="../static/img/logo.png" alt="" title="" /></a>
			      </div>
					<nav id="nav-menu-container">
						<ul class="nav-menu">
							{{if .isLogin}}
								<li><a>你好，{{.username}}</a></li>
								<li><a href="/logout" >退出</a></li>
							{{else}}
								<li><a href="javascript:void(0)" data-toggle="modal" data-target="#login">登录</a></li>
								<li><a href="javascript:void(0)" data-toggle="modal" data-target="#register">注册</a></li>
							{{end}}
						</ul>
					</nav>
		    	</div>
		    </div>
		  </header><!-- #header -->

{{/*			<!-- start banner Area -->*/}}
{{/*			<section class="banner-area">*/}}
{{/*				<div class="container">*/}}
{{/*					<div class="row fullscreen align-items-center justify-content-between">*/}}
{{/*						<div class="col-lg-6 col-md-6 banner-left">*/}}
{{/*							<h6>This is me</h6>*/}}
{{/*							<h1>Philip Gilbert</h1>*/}}
{{/*							<p>*/}}
{{/*								You will begin to realise why this exercise is called the Dickens Pattern with reference to the ghost showing Scrooge some different futures.*/}}
{{/*							</p>*/}}
{{/*							<a href="#" class="primary-btn text-uppercase">discover now</a>*/}}
{{/*						</div>*/}}
{{/*						<div class="col-lg-6 col-md-6 banner-right d-flex align-self-end">*/}}
{{/*							<img class="img-fluid" src="../static/img/hero-img.png" alt="">*/}}
{{/*						</div>*/}}
{{/*					</div>*/}}
{{/*				</div>*/}}
{{/*			</section>*/}}
{{/*			<!-- End banner Area -->*/}}

		  <section class="banner-area">
			  <div class="container">
				  <div class="row fullscreen align-items-center">
					  <div class="col-md-8 col-md-offset-2">
						  <form  action="/search" method="get">
							  <div class="input-group">
								  <input type="text" class="form-control" name="content" placeholder="Enter the content" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the content '" required="" type="text">
								  <div class="input-group-btn">
									  <button class="btn btn-primary" type="submit" style="font-size: 1.3rem;">
										  <span class="lnr lnr-arrow-right"></span>
									  </button>
								  </div>
							  </div>
						  </form>
					  </div>
				  </div>
			  </div>
		  </section>



			<!-- Start fact Area -->
			<section class="facts-area section-gap" id="facts-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 single-fact">
							<h1 class="counter">2536</h1>
							<p>设备信息</p>
						</div>
						<div class="col-lg-3 col-md-6 single-fact">
							<h1 class="counter">6784</h1>
							<p>报警信息</p>
						</div>
						<div class="col-lg-3 col-md-6 single-fact">
							<h1 class="counter">2239</h1>
							<p>维修记录</p>
						</div>
						<div class="col-lg-3 col-md-6 single-fact">
							<h1 class="counter">435</h1>
							<p>其他信息</p>
						</div>
					</div>
				</div>
			</section>
			<!-- end fact Area -->


            <!-- start footer Area -->
            <footer class="footer-area section-gap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="single-footer-widget">
                                <h4>声明</h4>
                                <p>
                                    搜索结果仅供参考使用，具体信息请跟各团队负责人联系确认。
                                </p>
                                <p class="footer-text">
									Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</a>
								</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End footer Area -->		

			<script src="../static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="../static/js/popper.min.js"></script>
			<script src="../static/js/vendor/bootstrap.min.js"></script>
  			<script src="../static/js/easing.min.js"></script>
			<script src="../static/js/hoverIntent.js"></script>
			<script src="../static/js/superfish.min.js"></script>
			<script src="../static/js/jquery.ajaxchimp.min.js"></script>
			<script src="../static/js/jquery.magnific-popup.min.js"></script>
    		<script src="../static/js/jquery.tabs.min.js"></script>
			<script src="../static/js/jquery.nice-select.min.js"></script>
            <script src="../static/js/isotope.pkgd.min.js"></script>
			<script src="../static/js/waypoints.min.js"></script>
			<script src="../static/js/jquery.counterup.min.js"></script>
			<script src="../static/js/simple-skillbar.js"></script>
			<script src="../static/js/owl.carousel.min.js"></script>
			<script src="../static/js/main.js"></script>


		  {{template "login.html" .}}

		</body>
	</html>